apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculator-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calculator-frontend
  template:
    metadata:
      labels:
        app: calculator-frontend
    spec:
      containers:
      - name: calculator-frontend
        image: metaphyze/calculator-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: CALCULATION_URL
          value: "http://calculation-service:9999"
        - name: USER_DB_HOST_AND_PORT
          value: "user-db-service:27017"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculation-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calculation-server
  template:
    metadata:
      labels:
        app: calculation-server
    spec:
      containers:
      - name: calculation-server
        image: metaphyze/go-calculator:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-db-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-db-server
  template:
    metadata:
      labels:
        app: user-db-server
    spec:
      containers:
      - name: user-db-server
        image: mongo:8.0.1
        ports:
        - containerPort: 27017

---
apiVersion: v1
kind: Service
metadata:
  name: calculator-frontend-service
spec:
  selector:
    app: calculator-frontend
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 5000
      nodePort: 30001
  type: NodePort

---
apiVersion: v1
kind: Service
metadata:
  name: calculation-service
spec:
  selector:
    app: calculation-server
  ports:
    - protocol: TCP
      port: 9999
      targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: user-db-service
spec:
  selector:
    app: user-db-server
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP
