body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Changed to column for banner and main content alignment */
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    color: #e74c3c;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.button-container a:hover {
    background-color: #0056b3;
}