<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Problem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_index.css') }}">
</head>
<body>
    <div class="banner">
        Scientific Calculator
    </div>

    <div class="main-container">
        <div class="top-bar">
            <div class="user-name">Logged in as: <strong>{{ current_user.username }}</strong></div>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        {% if current_user.is_authenticated %}
            <h1>Submit Your Problem</h1>
            <div class="problem-container">
                <form id="problemForm">
                    <textarea id="problem" rows="4" placeholder="Enter your problem here"></textarea>
                    <br /><br />
                    <button type="submit">Submit</button>
                </form>
            </div>

            <div class="response-container">
                <h2>Server Response:</h2>
                <textarea id="response" rows="4" readonly></textarea>
            </div>

            <div class="documentation-link" style="margin-top: 20px; text-align: center;">
                <p>For a list of available functions, please visit the <a href="{{ url_for('documentation') }}">Documentation</a>.</p>
            </div>
        {% else %}
            <h1>Welcome</h1>
            <p><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a></p>
        {% endif %}
    </div>

    <script>
        document.getElementById('problemForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const problem = document.getElementById('problem').value;

            // Make a POST request to the Flask server
            const response = await fetch(`/submit`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ problem: problem })
            });

            const data = await response.json();

            // Display the response from the server in the textarea
            document.getElementById('response').value = data.message;
        });
    </script>
</body>
</html>
