<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_manager_users.css') }}">
</head>
<body>
    <div class="banner">
        Scientific Calculator
    </div>

    <div class="table-container">
        <h1>User Management</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
             {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.name != current_user %}
                            <form action="{{ url_for('delete_user', username=user.name) }}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete {{ user.name }}?');">
                                <button type="submit">Delete</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       <br/>
       <a href="{{ url_for('index') }}">Back</a>
       <a href="{{ url_for('show_logs') }}">Show Logs</a> <!-- New Show Logs Link -->
    </div>
</body>
</html>
